* {
 margin: 0;
 padding: 0;

}

.container-slider{
    width: 100%;
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .container-text-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
  }
  
  .container-text-slider p{
    font-size: 25px;
  }
  
  .container-text-slider h1{
    font-size: 80px;
    text-transform: uppercase;
  }
  
  .slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 1s;
  }
  
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #fff;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 560px;
  }
  
  .navigation-auto div{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #fff;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #fff;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #fff;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #fff;
  }